/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container-fluid.d-flex {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Sidebar */
#sidebar {
  width: 25%; 
  background-color: #2c2f36;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transition: width 0.3s ease;
}

/* Sidebar logo */
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 115px;
  height: auto;
}

/* Login form */
.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  color: white;
}

.login-form h2 {
  margin-bottom: 20px;
  font-weight: 300;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.login-form label {
  font-weight: 300;
}

.login-form .button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  transition: background 0.3s;
}

.login-form .button:hover {
  background-color: #0056b3;
}

.sign-up {
  color: #39b8f7;
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
}

.sign-up a {
  color: #39b8f7;
  text-decoration: none;
  font-weight: 600;
}


#map-container {
  width: 75%; 
  position: relative;
  height: 100vh; 
  padding: 0;
  transition: width 0.3s ease;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

@media (max-width: 992px) {
  #sidebar {
    width: 35%; 
  }
  #map-container {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .container-fluid.d-flex {
    flex-direction: column; 
  }
  
  #sidebar {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  #map-container {
    width: 100%;
    height: calc(100vh - 200px); 
  }
}

@media (max-width: 576px) {
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form .button {
    font-size: 14px; 
  }
}
